<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
	<img  align=middle alt="Creative Commons License" 
			 style="border-width:0" 
	     src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
</a> 
<a xmlns:cc="http://creativecommons.org/ns#" 
   href="http://menzies.us" 
   property="cc:attributionName" 
   rel="cc:attributionURL">
Tim Menzies
</a> 
&copy; 2014 
<a rel="license" 
   href="http://creativecommons.org/licenses/by/4.0/">
      Creative Commons Attribution 4.0 International. License
   </a>.
<br>
Design by 
<a href="http://matthewjamestaylor.com">Matt Talor
  </a> 
(browse his
<a href="http://matthewjamestaylor.com/blog/-website-layouts">
   other excellent designs
   </a>).
